In [ ]:
import pandas as pd
import networkx as nx

In [ ]:
df = pd.read_csv('RealNewsTweetUser.csv')

In [ ]:
df

,user_id,followers_count,following_count,status_count,created_at
0,833964896404508672,880,311,1167,Tue Feb 21 09:01:40 +0000 2017
1,14111628,3981,4994,82894,Mon Mar 10 05:08:33 +0000 2008
2,205971568,2359,2271,142464,Fri Oct 22 00:41:36 +0000 2010
3,128762218,1126,1880,11517,Fri Apr 02 03:41:26 +0000 2010
4,44385059,835,3697,26127,Wed Jun 03 15:46:54 +0000 2009
...,...,...,...,...,...
37201,19812221,3445,2012,20082,Sat Jan 31 11:32:34 +0000 2009
37202,539699081,6155,3944,278825,Thu Mar 29 05:48:00 +0000 2012
37203,710555609771298817,1095,130,14772,Thu Mar 17 19:57:13 +0000 2016
37204,254165243,1384,341,5620,Fri Feb 18 18:55:49 +0000 2011
37205,25950286,74,68,3203,Mon Mar 23 04:09:36 +0000 2009

### User Followers to Following ratio

In [ ]:
def ratio(df):
    if(df['following_count'] == 0):
        df['followers_following_ratio'] = 0
    else:
        df['followers_following_ratio'] = df['followers_count']/df['following_count']
    return df

In [ ]:
dfFF_Ratio = df.apply(ratio,axis=1)

In [ ]:
dfFF_Ratio

,user_id,followers_count,following_count,status_count,created_at,followers_following_ratio
0,833964896404508672,880,311,1167,Tue Feb 21 09:01:40 +0000 2017,2.829582
1,14111628,3981,4994,82894,Mon Mar 10 05:08:33 +0000 2008,0.797157
2,205971568,2359,2271,142464,Fri Oct 22 00:41:36 +0000 2010,1.038749
3,128762218,1126,1880,11517,Fri Apr 02 03:41:26 +0000 2010,0.598936
4,44385059,835,3697,26127,Wed Jun 03 15:46:54 +0000 2009,0.225859
...,...,...,...,...,...,...
37201,19812221,3445,2012,20082,Sat Jan 31 11:32:34 +0000 2009,1.712227
37202,539699081,6155,3944,278825,Thu Mar 29 05:48:00 +0000 2012,1.560598
37203,710555609771298817,1095,130,14772,Thu Mar 17 19:57:13 +0000 2016,8.423077
37204,254165243,1384,341,5620,Fri Feb 18 18:55:49 +0000 2011,4.058651
37205,25950286,74,68,3203,Mon Mar 23 04:09:36 +0000 2009,1.088235

In [ ]:
sorted_dfFF_Ratio = dfFF_Ratio.sort_values(by=['followers_following_ratio','user_id'], ascending=False)
sorted_dfFF_Ratio

,user_id,followers_count,following_count,status_count,created_at,followers_following_ratio
33193,5402612,45317122,3,36736,Sun Apr 22 14:42:37 +0000 2007,1.510571e+07
6933,95023423,13792886,1,203690,Sun Dec 06 16:07:01 +0000 2009,1.379289e+07
14299,95023423,13792886,1,203690,Sun Dec 06 16:07:01 +0000 2009,1.379289e+07
35558,207809313,14655106,3,205505,Tue Oct 26 02:19:07 +0000 2010,4.885035e+06
35714,822215673812119553,24685541,14,21898,Thu Jan 19 22:54:27 +0000 2017,1.763253e+06
...,...,...,...,...,...,...
10834,9414182,193,0,211097,Sat Oct 13 01:07:53 +0000 2007,0.000000e+00
18234,7278812,948,0,74936,Thu Jul 05 23:28:16 +0000 2007,0.000000e+00
12932,7094562,158,0,82140,Tue Jun 26 20:00:14 +0000 2007,0.000000e+00
7609,7001592,983,0,181574,Thu Jun 21 18:32:42 +0000 2007,0.000000e+00
33378,6985342,415,0,61584,Thu Jun 21 05:15:56 +0000 2007,0.000000e+00

In [ ]:
sorted_dfFF_Ratio.head(10)

,user_id,followers_count,following_count,status_count,created_at,followers_following_ratio
33193,5402612,45317122,3,36736,Sun Apr 22 14:42:37 +0000 2007,1.510571e+07
6933,95023423,13792886,1,203690,Sun Dec 06 16:07:01 +0000 2009,1.379289e+07
14299,95023423,13792886,1,203690,Sun Dec 06 16:07:01 +0000 2009,1.379289e+07
35558,207809313,14655106,3,205505,Tue Oct 26 02:19:07 +0000 2010,4.885035e+06
35714,822215673812119553,24685541,14,21898,Thu Jan 19 22:54:27 +0000 2017,1.763253e+06
3898,822215673812119553,24685540,14,21898,Thu Jan 19 22:54:27 +0000 2017,1.763253e+06
21923,87416722,4396410,3,53462,Wed Nov 04 11:25:45 +0000 2009,1.465470e+06
6814,520653311,8710496,9,299312,Sat Mar 10 19:08:28 +0000 2012,9.678329e+05
22924,811972460560019456,1997028,3,334903,Thu Dec 22 16:31:35 +0000 2016,6.656760e+05
8575,818910970567344128,9471350,15,9217,Tue Jan 10 20:02:44 +0000 2017,6.314233e+05

## Top 10

In [ ]:
sorted_dfFF_Ratio.head(2200)

,user_id,followers_count,following_count,status_count,created_at,followers_following_ratio
33193,5402612,45317122,3,36736,Sun Apr 22 14:42:37 +0000 2007,1.510571e+07
6933,95023423,13792886,1,203690,Sun Dec 06 16:07:01 +0000 2009,1.379289e+07
14299,95023423,13792886,1,203690,Sun Dec 06 16:07:01 +0000 2009,1.379289e+07
35558,207809313,14655106,3,205505,Tue Oct 26 02:19:07 +0000 2010,4.885035e+06
35714,822215673812119553,24685541,14,21898,Thu Jan 19 22:54:27 +0000 2017,1.763253e+06
...,...,...,...,...,...,...
26623,378228026,27189,498,10803,Thu Sep 22 21:15:59 +0000 2011,5.459639e+01
19663,14345123,36969,678,186766,Wed Apr 09 20:12:34 +0000 2008,5.452655e+01
31330,232975354,109,2,33563,Sat Jan 01 22:48:31 +0000 2011,5.450000e+01
37119,232975354,109,2,33563,Sat Jan 01 22:48:31 +0000 2011,5.450000e+01
3143,21669123,158360,2907,29575,Mon Feb 23 17:02:23 +0000 2009,5.447540e+01

## Status to followers ratio

In [ ]:
def ratioSF(df):
    if(df['followers_count'] == 0):
        df['status_followers_ratio'] = 0
    else:
        df['status_followers_ratio'] = df['status_count']/df['followers_count']
    return df

In [ ]:
dfSF_Ratio = df.apply(ratioSF,axis=1)

In [ ]:
sorted_dfSF_Ratio = dfSF_Ratio.sort_values(by=['status_followers_ratio','user_id'], ascending=False)
sorted_dfSF_Ratio

,user_id,followers_count,following_count,status_count,created_at,status_followers_ratio
13106,2493635959,2,97,144159,Wed May 14 00:17:05 +0000 2014,72079.5
2848,795679059757985792,1,2,45462,Mon Nov 07 17:27:25 +0000 2016,45462.0
29281,815251898144059392,2,258,78337,Sat Dec 31 17:42:53 +0000 2016,39168.5
9645,766817724559335424,16,0,411536,Sat Aug 20 02:02:47 +0000 2016,25721.0
11208,766817724559335424,16,0,411536,Sat Aug 20 02:02:47 +0000 2016,25721.0
...,...,...,...,...,...,...
29773,193747405,0,0,59599,Wed Sep 22 16:00:21 +0000 2010,0.0
20110,183788216,0,30,29,Fri Aug 27 22:15:41 +0000 2010,0.0
7188,118471084,0,6,8494,Sun Feb 28 20:03:09 +0000 2010,0.0
20489,93912055,0,0,44705,Tue Dec 01 18:18:30 +0000 2009,0.0
11430,79269845,0,32,40,Fri Oct 02 19:45:41 +0000 2009,0.0

## Account Active Time period

In [ ]:
from datetime import datetime

date_time_str = df['created_at'][0]
print(date_time_str)

Tue Feb 21 09:01:40 +0000 2017

In [ ]:
date_time_obj = datetime.strptime(date_time_str, '%a %b %d %H:%M:%S +0000 %Y')


print("The type of the date is now",  type(date_time_obj))
print("The date is", date_time_obj.strftime('%Y'))

The type of the date is now <class 'datetime.datetime'>
The date is 2017

In [ ]:
from datetime import date

current_date = date.today() 
print("Current year:", type(current_date.year))

Current year: <class 'int'>

In [ ]:
def dateFormatingtoYear(df):
    df['created_year'] = datetime.strptime(df['created_at'], '%a %b %d %H:%M:%S +0000 %Y').strftime('%Y')
    df['active_years'] = date.today().year - int(df['created_year'])
    return df

In [ ]:
df_Year = df.apply(dateFormatingtoYear,axis=1)

In [ ]:
df_Year

,user_id,followers_count,following_count,status_count,created_at,created_year,active_years
0,833964896404508672,880,311,1167,Tue Feb 21 09:01:40 +0000 2017,2017,3
1,14111628,3981,4994,82894,Mon Mar 10 05:08:33 +0000 2008,2008,12
2,205971568,2359,2271,142464,Fri Oct 22 00:41:36 +0000 2010,2010,10
3,128762218,1126,1880,11517,Fri Apr 02 03:41:26 +0000 2010,2010,10
4,44385059,835,3697,26127,Wed Jun 03 15:46:54 +0000 2009,2009,11
...,...,...,...,...,...,...,...
37201,19812221,3445,2012,20082,Sat Jan 31 11:32:34 +0000 2009,2009,11
37202,539699081,6155,3944,278825,Thu Mar 29 05:48:00 +0000 2012,2012,8
37203,710555609771298817,1095,130,14772,Thu Mar 17 19:57:13 +0000 2016,2016,4
37204,254165243,1384,341,5620,Fri Feb 18 18:55:49 +0000 2011,2011,9
37205,25950286,74,68,3203,Mon Mar 23 04:09:36 +0000 2009,2009,11

In [ ]:
sorted_dfActiveYears = df_Year.sort_values(by=['active_years','user_id'], ascending=False)
sorted_dfActiveYears

,user_id,followers_count,following_count,status_count,created_at,created_year,active_years
8078,310623,286,125,6955,Thu Dec 28 08:44:29 +0000 2006,2006,14
1814,246103,346402,22736,226728,Mon Dec 25 17:32:24 +0000 2006,2006,14
2744,246103,346402,22736,226728,Mon Dec 25 17:32:24 +0000 2006,2006,14
3103,246103,346402,22736,226728,Mon Dec 25 17:32:24 +0000 2006,2006,14
4014,246103,346402,22736,226728,Mon Dec 25 17:32:24 +0000 2006,2006,14
...,...,...,...,...,...,...,...
5141,947862751199858691,21,11,628,Mon Jan 01 16:11:05 +0000 2018,2018,2
14817,947862751199858691,21,11,628,Mon Jan 01 16:11:05 +0000 2018,2018,2
14850,947862751199858691,21,11,628,Mon Jan 01 16:11:05 +0000 2018,2018,2
30238,947862751199858691,21,11,628,Mon Jan 01 16:11:05 +0000 2018,2018,2
15695,947831211224961025,5,56,314,Mon Jan 01 14:05:45 +0000 2018,2018,2

In [ ]:
df['active_years'] = df_Year['active_years']
df['status_follower_ratio'] = dfSF_Ratio['status_followers_ratio']
df['followers_following_ratio'] = dfFF_Ratio['followers_following_ratio']

In [ ]:
df

,user_id,followers_count,following_count,status_count,created_at,active_years,status_follower_ratio,followers_following_ratio
0,833964896404508672,880,311,1167,Tue Feb 21 09:01:40 +0000 2017,3,1.326136,2.829582
1,14111628,3981,4994,82894,Mon Mar 10 05:08:33 +0000 2008,12,20.822406,0.797157
2,205971568,2359,2271,142464,Fri Oct 22 00:41:36 +0000 2010,10,60.391691,1.038749
3,128762218,1126,1880,11517,Fri Apr 02 03:41:26 +0000 2010,10,10.228242,0.598936
4,44385059,835,3697,26127,Wed Jun 03 15:46:54 +0000 2009,11,31.289820,0.225859
...,...,...,...,...,...,...,...,...
37201,19812221,3445,2012,20082,Sat Jan 31 11:32:34 +0000 2009,11,5.829318,1.712227
37202,539699081,6155,3944,278825,Thu Mar 29 05:48:00 +0000 2012,8,45.300569,1.560598
37203,710555609771298817,1095,130,14772,Thu Mar 17 19:57:13 +0000 2016,4,13.490411,8.423077
37204,254165243,1384,341,5620,Fri Feb 18 18:55:49 +0000 2011,9,4.060694,4.058651
37205,25950286,74,68,3203,Mon Mar 23 04:09:36 +0000 2009,11,43.283784,1.088235

In [ ]:
df.to_csv('Real_News_Influencers.csv',index=False)